link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/estilo.css')
.box#error
    h1(style="font-size: 80pt;") Error 404
    h1(style="font-size: 15pt; padding: 0px; margin-left: 5px;") La pagina que ha solicitado no existe