extends layout
block content
	div.box
		h1 Presentacio projecte DAM2A
		h2 Desenvolupament d'un joc en xarxa a la web
		iframe(src="./presentation/index.html", width="576", height="420", scrolling="no", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
	div.box
		h1 Video projecte DAM2A
		h2 Desenvolupament d'un joc en xarxa a la web
		iframe(width="560",height="315",src="//www.youtube.com/embed/29yQmQ-ny1E",frameborder="0",allowfullscreen)